@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: Poppins;

}

#hotelOptions{
    overflow-y: scroll;
    height: 20vw;
    text-align: center;
}

.hotelButtons{
    border-left: 1px solid rgba(0, 0, 0, 0.352);
}


.hotelCard img{
    /*height: 20vw;
    width: 20vw;*/
    border-radius: 25px;
}
.fa-star{
    color: orange;
}
mark{
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    #hotelOptions{
       
        height: 75vw;
    }
}