

    <div class="container-fluid">
        <div class="text-center">
        <h1>Hoteles de Aguascalientes</h1>
        <h4>Bienvenido </h4>
        <h6>Prueba nuestra aplicacion responsiva</h6>
         <hr>
        </div>

    <div class="card container-fluid" id="hotelOptions">
        <div class="card pt-3">
        
           <div class=" hotelCard p-1 mt-1 row ">
               <img class="col-sm-4 img-fluid. max-width:20vw" src="https://cdn.pixabay.com/photo/2021/12/11/07/59/hotel-6862159_1280.jpg">
            <div class="infoHotel col-sm-4">
                <strong><u>Casa del Té</u></strong>
                     <div>
                     <p>
                    <i class="fa fa-house"></i> Hotel <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <mark class="bg-danger">123</mark> Opiniones
                    </p>
                    </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque sequi quis quos ab beatae atque distinctio voluptatum, necessitatibus ratione, voluptate ea nihil dolorum, illum laboriosam quas corrupti expedita facere!</p>   
            </div>
            
                <div class="hotelButtons col-sm-3">
                    <div class="alert alert-success" style="color: black;">
                        <strong><a href="#">Hoteles.com</a></strong>
                        <p>Desayuno gratis</p>
                        <strong><u>$1200.00</u></strong>
                    </div>
                    <button  class="btn btn btn-secondary">Reservar</button> <button class="btn btn btn-secondary m-1">Ver Ofertas</button>

                </div>
            </div>
                
           


           <div class="card pt-3">
           <div class="hotelCard p-1 mt-1 row">
            <img class="col-sm-4" src="https://cdn.pixabay.com/photo/2022/10/23/02/26/hotel-7540353_1280.jpg" alt="hotel">
            <div class="infoHotel col-sm-4">
                <strong><u>Magnate Inn</u></strong>
                     <div>
                     <p>
                    <i class="fa fa-house"></i> Hotel de Lujo <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <mark class="bg-danger">981</mark> Opiniones
                    </p>
                    </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque sequi quis quos ab beatae atque distinctio voluptatum, necessitatibus ratione, voluptate ea nihil dolorum, illum laboriosam quas corrupti expedita facere!</p>   
            </div>
            <div class="hotelButtons col-sm-3">
                <div class="alert alert-success" style="color: black;">
                    <strong><a href="#">Hoteles.com</a></strong>
                    <p>Desayuno gratis</p>
                    <strong><u>$1200.00</u></strong>
                </div>
                <button  class="btn">Reservar</button> <button class="btn">Ver Ofertas</button>

            </div>
           </div>
           </div>


           <div class="card pt-3">
           <div class=" hotelCard p-1 mt-1 row">
            <img class="col-sm-4" src="https://cdn.pixabay.com/photo/2016/11/17/09/28/hotel-1831072_1280.jpg" alt="hotel">
            <div class="infoHotel col-sm-4">
                <strong><u>Beach Hotel</u></strong>
                     <div>
                     <p>
                    <i class="fa fa-house"></i> Hotel <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <mark class="bg-danger">541</mark> Opiniones
                    </p>
                    </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque sequi quis quos ab beatae atque distinctio voluptatum, necessitatibus ratione, voluptate ea nihil dolorum, illum laboriosam quas corrupti expedita facere!</p>   
            </div>
            <div class="hotelButtons col-sm-3">
                <div class="alert alert-success" style="color: black;">
                    <strong><a href="#">Hoteles.com</a></strong>
                    <p>Desayuno gratis</p>
                    <strong><u>$1500.00</u></strong>
                </div>
                <button  class="btn btn-secondary">Reservar</button> <button class="btn btn-secondary ml-1">Ver Ofertas</button>

            </div> 
           </div>
           </div>
        </div>
            
        </div>
    


    </div>


